
header {
    height: 5.6rem;
    line-height: 5.6rem;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    padding: 0rem 6rem;
    width: 100%;    
}

.header {
    &__right, &__middle {
        display: flex;
        align-items: center;
        .pi-bell {
            font-size: $font-size-16;
        }
    }
    &__middle {
        position: relative;
    }
    &__user-profile {
        border-radius: 100%;
        height: 4rem;
        width: 4rem;
        background-color: $partyu-purple;
        color: $white;
        text-align: center;
        font-weight: $font-weight-black;
        font-size: $font-size-18;
        display: flex;
        justify-content: center;
        align-items: center;
        &.profile__user-profile {
            height: 6rem;
            width: 6rem;
            font-weight: $font-weight-bold;
        }
    }
    &__user-info {
        display: flex;
        align-items: center;
        i {
            font-size: $font-size-16;
        }
    }
}

.searches {
    position: absolute;
    width: 42rem;
    right: 57rem;
    top: 6rem;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 40rem;
    z-index: 1000;
    &.white-box {
        padding: 0rem 1rem;
        box-shadow: 0.5rem 0.5rem 1rem #D9D9D9;
    }
}

.searches::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
}

.searches::-webkit-scrollbar-thumb {
    background: rgba(161, 155, 155, 0.5);
    border-radius: 4px;
}