<a (click)="showModalDialog()" *ngIf="!isForgotPasswordProfile">Forgot password?</a>
<button type="button" 
        class="btn btn--small" 
        (click)="showModalDialog()" 
        *ngIf="isForgotPasswordProfile">
        Reset Password
</button>

<p-dialog class="dialog--small"
          header="Recover Password" 
          [(visible)]="displayModal" 
          [modal]="true" 
          [style]="{width: '36.5rem'}"
          [baseZIndex]="10000"
          [draggable]="false">

    <p class="p-dialog__sentence">
        Insert your email to send you an email to recover you password
    </p>

    <form [formGroup]="formForgotPassword" (ngSubmit)="onSubmit()">

        <div class="form__group">
            <input type="text" 
                class="form__input" 
                placeholder="example@domain.com"
                formControlName="email">
        </div>

        <div class="p-dialog__btns">
            <button class="btn--clear btn--small" (click)="displayModal=false">Close</button>
            <button type="submit" class="btn btn--small" [disabled]="formForgotPassword.invalid">Send</button>
        </div>

    </form>

</p-dialog>

<p-toast key="forgotPassword"></p-toast>
