<h1>Recover Password</h1>

<form class="form"
      [formGroup]="recoverPasswordForm"
      (ngSubmit)="onSubmit()">

    <div class="form__group" [class.form__group--error]="notValidField('password')">
        <div class="form__group--head">
            <label class="form__label">New Password</label>
            <span class="form__message-error" *ngIf="notValidField('password')">* The password is not valid</span>
        </div>
        <input type="password" 
               class="form__input" 
               placeholder="at least 8 characters and one capital letter"
               formControlName="password">
    </div>

    <div class="form__group" [class.form__group--error]="notValidField('repeatPassword')">
        <div class="form__group--head">
            <label class="form__label">Repeat New Password</label>
            <span class="form__message-error" *ngIf="notValidField('repeatPassword')">* The password doesn't match</span>
        </div>
        <input type="password" 
               class="form__input" 
               placeholder="repeat your password"
               formControlName="repeatPassword">
    </div>
    <div class="form__group form__group--button">
        <button type="submit" class="btn btn--big mt-10" [disabled]="recoverPasswordForm.invalid">
            Change Password
        </button>
    </div>

</form>

<div class="auth__footer">
    <p class="auth__sentence">Go back to</p>
    <a routerLink="/auth/login">Sign in.</a>
</div>




