<div class="event d-flex align-center white-box">
    <div class="event__image cursor-pointer" (click)="showModalDetail()">
        <img src="../../../assets/images/cheers.svg" alt="Event Alt">
    </div>
    <div class="event__content">
        <div class="event__content-header d-flex flex-column">
            <div class="d-flex justify-between">
                <span class="event__title cursor-pointer" (click)="showModalDetail()">{{ event.title }}</span>
                <i class="pi pi-ellipsis-v cursor-pointer event__dots" 
                  (click)="op2.toggle($event)"
                  *ngIf="user.role === 'ROLE_ADMIN' && showAdminOptions">
                </i>
            </div>      
           
            <span class="event__date" *ngIf="event.region?.city">{{ event.region?.city }} | {{ startDate }} </span>
            <span class="event__date">{{ startHour }}</span>
        </div>
        <div class="event__content-footer d-flex justify-between">
            <span class="event__people d-flex items-center cursor-pointer" (click)="showModalParticipants()">
                <i class="pi pi-users"></i>
                {{ numberParticipants }}
            </span>

            <button class="btn--clear btn--icon-only" 
                   (click)="attendToEvent()"
                   *ngIf="!myParticipationsIDs.includes(event._id!) && !isMyEventsSection">
                    <i class="pi pi-check"></i>
            </button>
            <button class="btn btn--icon-only" 
                    (click)="notAttendToEvent()"
                    *ngIf="myParticipationsIDs.includes(event._id!) || isMyEventsSection">
                     <i class="pi pi-check"></i>
            </button>

        </div>
    </div>

    <!-- Dropdown -->
    <p-overlayPanel #op2 class="p-overlaypanel--event" [dismissable]="false">
        <ng-template pTemplate>
            <div class="p-overlaypanel__options">
                <app-update-event class="mb-10"
                                  [event]="event"
                                  [eventOptionsOverlaypanel]="op2">
                </app-update-event>
                <a class="mb-10 cursor-pointer" (click)="showModalDetail()">View Event Detail</a>
                <a class="mb-10 cursor-pointer text-danger" (click)="confirm(event)">Delete Event</a>
            </div>
        </ng-template>
    </p-overlayPanel>
    <!-- Dropdown -->


</div>

<!-- List of participants -->
<p-dialog class="dialog--small"
          header="List of participants" 
          [(visible)]="displayModalParticipants" 
          [modal]="true" 
          [style]="{width: '30rem'}"
          [baseZIndex]="10000"
          [draggable]="false">

        <ul class="participants">
            <li class="participants__participant d-flex items-center mb-10" *ngFor="let participant of participants">
                <div class="header__user-profile ml-15 participants__participant-image">
                    {{ utilsService.getFirstLetter(participant.user.fullname) }}
                </div>
                <span class="participants__participant-fullname ml-5">{{ participant.user.fullname }}</span>
            </li>
        </ul>

</p-dialog>
<!-- List of participants -->


<!-- Event Detail -->
<p-dialog class="dialog--small"
          header="{{ event.title }}" 
          [(visible)]="displayDetail" 
          [modal]="true" 
          [style]="{width: '36.5rem'}"
          [baseZIndex]="10000"
          [draggable]="false">

        <p class="p-dialog__sentence p-dialog__sentence--paragraph event-detail__description">
            {{ event.description }}
        </p>
        
        <div class="event-detail__info mt-12 mb-17 d-flex flex-column">
            <span>Location: {{ event.region?.city }}</span>
            <span class="mt-5"><span class="font-bold cursor-pointer" (click)="showModalParticipants()">{{ numberParticipants }} persons </span>will assist to this event</span>
        </div>

        <div class="d-flex justify-between event-detail__dates mb-10">
            <div class="d-flex flex-column">
                <span class="event-detail__subtitle mb-5 text-purple">Event start date</span>
                <span class="event-detail__date">{{ utilsService.getDateFormat(event.eventStart!) }}</span>
                <span class="event-detail__hour mt-5">At {{ utilsService.getDateHour(event.eventStart!) }}</span>
            </div>
            <div class="d-flex flex-column ml-5">
                <span class="event-detail__subtitle mb-5 text-purple">Event end date</span>
                <span class="event-detail__date">{{ utilsService.getDateFormat(event.eventEnd!) }}</span>
                <span class="event-detail__hour mt-5">To {{ utilsService.getDateHour(event.eventEnd!) }}</span>
            </div>
        </div>

        <div class="p-dialog__btns">
            <button type="submit" 
                    class="btn btn--small" 
                    (click)="attendToEvent();displayDetail=false;"
                    *ngIf="!myParticipationsIDs.includes(event._id!) && !isMyEventsSection">Participate</button>
            <button type="submit" 
                    class="btn btn--small" 
                    (click)="notAttendToEvent();displayDetail=false;"
                    *ngIf="myParticipationsIDs.includes(event._id!) || isMyEventsSection">Not Participate</button>
            <button class="btn--clear btn--small" (click)="displayDetail=false">Close</button>
        </div>
        
</p-dialog>
<!-- Event Detail -->


