<div class="p-grid home-container"> 
    <div class="p-col">
        
        <div class="page page__container page__container--calendar">

            <div class="page__header">
                <span class="page__title">My Events Calendar</span>
            </div>

            <p class="auth__sentence mt-20">
                Here you will find all your events displayed in a calendar
            </p>

            <div class="page__content white-box">
                <full-calendar [options]="calendarOptions"></full-calendar>
            </div>

        </div>

    </div>
</div>
