// COLORS
$partyu-purple: #6131DD;
$partyu-purple-soft: #6B3FDE;
$partyu-gray-white: #F1F3F4;
$partyu-gray: #7E7E7E; 
$partyu-black: #141414;
$white: #FFFFFF;
$red: #FF0000;

// FONT SIZE
$partyu-font-12: 12px;
$partyu-font-14: 14px;
$partyu-font-16: 16px;
$partyu-font-22: 22px;
$partyu-font-24: 24px;
$partyu-font-26: 26px;
$partyu-font-30: 30px;
$partyu-font-32: 32px;

// FONT FAMILY && FONT WEIGHT
$partyu-font-overlock: 'Overlock';
$partyu-font-bold:  700;
$partyu-font-black: 900;
$partyu-font-regultar: 400;




