
.home-container {
    width: 105rem !important;
    max-width: 90% !important;
    margin: 0 auto !important;
}

.events {
    display: flex;
    flex-wrap: wrap;
    width: 72.1rem;
}

.event {
    width: 34rem;
    margin: 1rem;
    position: relative;
    &__image {
        width: 7rem;
        & > img {
            vertical-align: top;
        }
    }
    &__title {
        @extend label;
    }
    &__date {
        color: #858585;
        font-size: $font-size-14;
    }
    &__content {
        margin-left: 1rem;

        &-footer {
            margin-top: 2rem;
        }
    }
    &__people {
        .pi-users {
            font-size: $font-size-16;
            margin-right: .7rem;
        }
    }
    &__dots {
        color: #858585;
        font-size: $font-size-14 !important;
    }
}

/**
* Notifications Area
*/
.notifications {

    &-container{
        width: 100%;
    }
    &__title {
        @extend label;
        color: $gray;
    }
    &__footer {
        font-size: $font-size-12;
        color: #A8A8A8;
        text-align: center;
    }
}

.notification__alert-message {
    font-size: $font-size-14;
}


.participants {
    &__participant-image {
        width: 3rem;
        height: 3rem;
        font-size: $font-size-14;
    }
    &__participant-fullname {
        font-size: $font-size-14;
    }
}