
<div class="p-grid home-container">

    
    <!-- Events -->
    <div class="p-col">

        <p class="auth__sentence mt-20">Here you will find all the events that you confirm your participation
        </p>

        <div class="events mt-15" *ngIf="!loader">
            <!-- Event Card -->
            <div class="event d-flex align-center white-box" *ngFor="let event of events">
                <div class="event__image cursor-pointer">
                    <img src="../../../assets/images/cheers.svg" alt="Event Alt">
                </div>
                <div class="event__content">
                    <div class="event__content-header d-flex flex-column">
                        <span class="event__title cursor-pointer">{{ event.title }}</span>
                        <span class="event__date">{{ event.region?.city }} | Saturday August 19 10:00pm </span>
                    </div>
                    <div class="event__content-footer d-flex justify-between">
                        <span class="event__people d-flex items-center">
                            <i class="pi pi-users"></i>
                            219
                        </span>

                        <button class="btn btn--icon-only" 
                                (click)="notAttendToEvent(event)">
                                 <i class="pi pi-check"></i>
                        </button>

                    </div>
                </div>

            </div>
            <!-- Event Card -->

            <!-- Empty Message -->
            <div class="empty-message d-flex items-center flex-column" *ngIf="!events.length && !loader">
                <div class="empty-message__image">
                    <img src="../../../assets/images/empty_icon.svg" alt="Empty PartyU">
                </div>
                <span class="empty-message__text">You have not participated in any event</span>
            </div>
            <!-- Empty Message -->

        </div>
        
        <!-- Sekeleton -->
        <div class="events mt-15" *ngIf="loader">

            <div class="event d-flex align-center white-box" style="width: 33rem; height: 11.359rem;" *ngFor="let i of this.skeletons">
                <div class="p-field p-col-12 d-flex">
                    <div>
                        <p-skeleton size="5rem" styleClass="p-mr-5 mt-10"></p-skeleton>
                    </div>
                    <div>
                        <p-skeleton width="20rem" styleClass="p-mb-2"></p-skeleton>
                        <p-skeleton width="15rem" styleClass="p-mb-2"></p-skeleton>
                        <p-skeleton width="5rem" styleClass="p-mb-2"></p-skeleton>
                        <p-skeleton width="19rem" styleClass="p-mb-2"></p-skeleton>
                        <p-skeleton width="8rem"></p-skeleton>
                    </div>
                    
                </div>
            </div>
           
        </div>
        <!-- Sekeleton -->

        
    </div>
    <!-- Events -->
  
    <!-- Notifications -->
    <div class="p-col-fixed" style="width: 31.176rem;">
        <div class="notifications-container white-box mt-22">

            <span class="notifcations__title">Notifications</span>

            <div class="notifications">

                <!-- Notification -->
                <p-messages severity="success" class="notification">
                    <ng-template pTemplate>
                        <div class="notification__content d-flex justify-between">

                            <div class="d-flex flex-column">
                                <span class="notification__title">You were invited to a party</span>
                                <a class="notification__event-link">Event Name Here | At Monday</a>
                                <span class="notification__time">12:00 am</span>
                            </div>

                            <div class="d-flex justify-end items-center notification__buttons">
                                <button class="btn--clear btn--icon-only">
                                    <i class="pi pi-check"></i>
                                </button>
                                <button class="btn--clear btn--icon-only ml-4">
                                    <i class="pi pi-times"></i>
                                </button>
                            </div>

                        </div>
                    
                    </ng-template>
                </p-messages>
                <!-- Notification -->

                <!-- Notification -->
                <p-messages severity="success" class="notification">
                    <ng-template pTemplate>
                        <div class="notification__content d-flex justify-between">

                            <div class="d-flex flex-column">
                                <span class="notification__title">You were invited to a party</span>
                                <a class="notification__event-link">Event Name Here | At Monday</a>
                                <span class="notification__time">12:00 am</span>
                            </div>

                            <div class="d-flex justify-end items-center notification__buttons">
                                <button class="btn--clear btn--icon-only">
                                    <i class="pi pi-check"></i>
                                </button>
                                <button class="btn--clear btn--icon-only ml-4">
                                    <i class="pi pi-times"></i>
                                </button>
                            </div>

                        </div>
                    
                    </ng-template>
                </p-messages>
                <!-- Notification -->

            </div>

            <div class="notifications__footer cursor-pointer">
               View More
            </div>
        </div>
    </div>
    <!-- Notifications -->

</div>

<!-- Alerts Messages -->
<p-toast key="recoverPasswordHomeSuccess"></p-toast>
<p-toast key="RegisterSuccess"></p-toast>
<p-toast key="homeToast"></p-toast>
<!-- Alerts Messages -->

