
<div class="p-grid home-container">

    
    <!-- Events -->
    <div class="p-col">

        <div class="page page__container">
            <div class="page__header">
                <span class="page__title" *ngIf="eventsVisibility === 1">My Events</span>
                <span class="page__title" *ngIf="eventsVisibility === 2">My Private Events</span>
            </div>
        </div>

        <p class="auth__sentence mt-20" *ngIf="eventsVisibility === 1">
            Here you will find all the events that you confirm your participation
        </p>

        <p class="auth__sentence mt-20" *ngIf="eventsVisibility === 2">
            Here you will find all the <b class="font-bold">private events</b> where you confirm your participation
        </p>

        <div class="events mt-15" *ngIf="!loader">

            <!-- Event Card -->
            <app-event *ngFor="let event of events"
                        [user]="user" 
                        [events]="events" 
                        [event]="event"
                        [showAdminOptions]="false"
                        [isMyEventsSection]="true"
                        (reloadEvents)="reloadEvents($event)">
            </app-event>
            <!-- Event Card -->

            <!-- Empty Message -->
            <div class="empty-message d-flex items-center flex-column" *ngIf="!events.length && !loader">
                <div class="empty-message__image">
                    <img src="../../../assets/images/empty_icon.svg" alt="Empty PartyU">
                </div>
                <span class="empty-message__text">You have not participated in any event</span>
            </div>
            <!-- Empty Message -->

        </div>
        
        <!-- Sekeleton -->
        <div class="events mt-15" *ngIf="loader">

            <div class="event d-flex align-center white-box" style="width: 33rem; height: 11.359rem;" *ngFor="let i of this.skeletons">
                <div class="p-field p-col-12 d-flex">
                    <div>
                        <p-skeleton size="5rem" styleClass="p-mr-5 mt-10"></p-skeleton>
                    </div>
                    <div>
                        <p-skeleton width="20rem" styleClass="p-mb-2"></p-skeleton>
                        <p-skeleton width="15rem" styleClass="p-mb-2"></p-skeleton>
                        <p-skeleton width="5rem" styleClass="p-mb-2"></p-skeleton>
                        <p-skeleton width="19rem" styleClass="p-mb-2"></p-skeleton>
                        <p-skeleton width="8rem"></p-skeleton>
                    </div>
                    
                </div>
            </div>
           
        </div>
        <!-- Sekeleton -->

        
    </div>
    <!-- Events -->

     <!-- Filters -->
     <div class="p-col-fixed" style="width: 31.176rem;">
        <div class="white-box mt-22">
            <span class="notifcations__title">Display Events</span>
            <form>
                <div class="form__group mt-15">
                    <div class="form__group--head">
                        <label class="form__label">Filter by visibility</label>
                    </div>
                    <p-dropdown class="form_input"
                                [options]="optionsDropDown"
                                placeholder="Select a the visibility" 
                                dataKey="code"
                                (onChange)="handlerVisibility($event)"
                                optionLabel="label"
                                [showClear]="false">
                    </p-dropdown>
                </div>
            </form>
        </div>
    </div>
    <!-- Filters -->

</div>

<!-- Alerts Messages -->
<p-toast key="recoverPasswordHomeSuccess"></p-toast>
<p-toast key="RegisterSuccess"></p-toast>
<p-toast key="homeToast"></p-toast>
<!-- Alerts Messages -->

