
<div class="p-grid home-container">
    
    <!-- Events -->
    <div class="p-col">

        <div class="events mt-15" *ngIf="!loader">

            <!-- Event Card -->
            <app-event *ngFor="let event of events"
                        [user]="user" 
                        [events]="events" 
                        [event]="event"
                        [myParticipationsIDs]="myParticipationsIDs">
            </app-event>
            <!-- Event Card -->

        </div>
        
        <!-- Empty Message -->
        <div class="empty-message d-flex items-center flex-column" *ngIf="!events.length && !loader">
            <div class="empty-message__image">
                <img src="../../../assets/images/empty_icon.svg" alt="Empty PartyU">
            </div>
            <span class="empty-message__text">Not events to show</span>
        </div>
        <!-- Empty Message -->

        <!-- Sekeleton -->
        <div class="events mt-15" *ngIf="loader">

            <div class="event d-flex align-center white-box" style="width: 33rem; height: 11.359rem;" *ngFor="let i of this.skeletons">
                <div class="p-field p-col-12 d-flex">
                    <div>
                        <p-skeleton size="5rem" styleClass="p-mr-5 mt-10"></p-skeleton>
                    </div>
                    <div>
                        <p-skeleton width="20rem" styleClass="p-mb-2"></p-skeleton>
                        <p-skeleton width="15rem" styleClass="p-mb-2"></p-skeleton>
                        <p-skeleton width="5rem" styleClass="p-mb-2"></p-skeleton>
                        <p-skeleton width="19rem" styleClass="p-mb-2"></p-skeleton>
                        <p-skeleton width="8rem"></p-skeleton>
                    </div>
                    
                </div>
            </div>
           
        </div>
        <!-- Sekeleton -->
        
    </div>
    <!-- Events -->
  
    <!-- Filters -->
    <div class="p-col-fixed" style="width: 31.176rem;">
        <div class="white-box mt-22">
            <span class="notifcations__title">Filter Events</span>
            <form>
                <div class="form__group mt-15">
                    <div class="form__group--head">
                        <label class="form__label">Filter by region</label>
                    </div>
                    <p-dropdown class="form_input"
                                placeholder="Select a Region" 
                                dataKey="_id"
                                optionLabel="city"
                                formControlName="region"
                                [showClear]="false">
                    </p-dropdown>
                </div>
                <div class="form__group mt-15">
                    <div class="form__group--head">
                        <label class="form__label">Filter by number of participants</label>
                    </div>
                    <p-dropdown class="form_input"
                                placeholder="Select a Region" 
                                dataKey="_id"
                                optionLabel="city"
                                formControlName="region"
                                [showClear]="false">
                    </p-dropdown>
                </div>
                <div class="d-flex justify-end">
                    <button type="submit" class="btn btn--small">Apply</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Filters -->

</div>


<!-- Confirmation popup to delete event-->
<p-confirmDialog #cdConfirmDelete 
                class="confirm-dialog-custom"
                [breakpoints]="{'960px': '75vw', '640px': '100vw'}" 
                [style]="{width: '36.5rem'}">
    <ng-template pTemplate="header">
        Delete Event
    </ng-template>
    
    <ng-template pTemplate="footer">
        <button class="btn--clear btn--small" (click)="cdConfirmDelete.reject()">Close</button>
        <button type="submit" class="btn btn--small" (click)="cdConfirmDelete.accept()">Delete</button>
    </ng-template>
</p-confirmDialog>
<!-- Confirmation popup -->


<!-- Alerts Messages -->
<p-toast key="recoverPasswordHomeSuccess"></p-toast>
<p-toast key="RegisterSuccess"></p-toast>
<p-toast key="homeToast"></p-toast>
<!-- Alerts Messages -->
