<div class="p-col-fixed" style="width:7rem">
    <div class="lateral-menu lateral-menu--fixed">
   
        <!-- Logo -->
        <div class="logo cursor-pointer lateral-menu__logo">
            <img src="../../../assets/images/logo_white.svg" class="logo__img">
        </div>
        <!-- Logo -->

        <!-- Lateral Menu Options -->
        <ul class="lateral-menu__options">
            <li>
                <a class="lateral-menu__option cursor-pointer">
                    <i class="pi pi-home"></i>
                </a>
            </li>
            <li class="mt-30">
                <a class="lateral-menu__option cursor-pointer">
                    <i class="pi pi-calendar"></i>
                </a>
            </li>
            <li class="mt-30">
                <a class="lateral-menu__option cursor-pointer">
                    <i class="pi pi-cog"></i>
                </a>
            </li>
        </ul>
        <!-- Lateral Menu Options -->

    </div>
</div>

