/*
 * Here are all the basic rules for starting the project
 */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    height: 100%;
    padding: 0rem;
    margin: 0rem;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: $font-family-overlock;
    font-weight: $font-weight-regular;
    background-color: $gray-white;
    height: 100%;
}

.p-grid {
    &--hideen {
        overflow: hidden;
    }
}

.white-box {
    background-color: #fff;
    padding: 1.5rem 1rem;
    border-radius: .8rem;
}   

.empty-message {
    margin: 5rem auto;
    &__text {
        color: #898B89;
    }
    &__image {
        img {
            vertical-align: top;
            width: 15rem;
        }
    }
}



